@charset "UTF-8";

/* board_write.jsp ui */

#spring_wrap{
	width:390px; height:350px; border:1px solid red; border-radius:15px; box-shadow:10px 10px 10px gray;
	margin-left:auto; margin-right:auto; margin-top:80px; padding-left:30px; padding-top:30px;
}