.container{
    width: 971px;
    height:100%;
    background-color: beige;
}

.item1{
    width:971px;
    height:50px;
    background-color: #80362d;
    position:relative;
}

.container2{
    display: flex;
    flex-direction: row;

}
.item2{
    width:180px;
    height: 800px;
    background-color: #adc6c3;
    margin:10px 5px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

}

.item3{
    width:800px;
    height:800px;
    background-color: #9d9e9a;
    margin:10px 10px 10px 5px;


}
